@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	height: 100vh;
}

.image_display {
	color: white;
}
.about-card {
	letter-spacing: normal;
	color: white;
}

.about-card a {
	color: blue;
}

.FirstSection {
	margin-bottom: -15vh;
	background: #1A1E22;
}

.cardss {
	background-color: rgba(255, 255, 255, 1);
}

.cardss2 {
	background-color: rgba(255, 255, 255, 1);
	
}

header {
	flex: 1;
	height: 45%;
	display: flex;
	align-items: center;
    justify-content: center;
	flex-direction: column;
	background-color: #1A1E22;
}

#images_display {
	position:relative;
}

#img1 {
    position: absolute;
    left: 0vh;
    top: 0vh;
}


.tee:hover {
    -webkit-animation: heartBeat 1s;
    animation: heartBeat 1s;
}

.tee2:hover {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
}


span {
	font-size: large;
}

.counters {
	padding: 0vh 1.5vh 15vh 1.2vh;
	border-bottom: 0.45vh grey solid;
	align-items: center;
}

.charts {
	background-color: #f5f6fa;
}


.percentages {
	padding-bottom: 10vh;
}

#progressbar {
	margin: 1vh 3vh 0vh 3vh;
	background-color: red;
	border-radius: 1.9vh;
	padding: 0vh;
}

#progressbar2 {
	margin: 1vh 3vh 0vh 3vh;

	background-color: red;
	border-radius: 1.9vh;
	padding: 0vh;
}


#changer {
	background-color: #4CAF50;
	width: 30%;
	height: 3vh;
	border-radius: 1.5vh;
}

#changer2 {
	background-color: #4CAF50;
	width: 10%;
	height: 3vh;
	border-radius: 1.5vh;
}

#left-align1 {
	padding: .5vh 0 0 2.25vh;

	float: left;
	margin-left: 1.5vh;
	color: rgb(0, 0, 0);
} 

#right-align1 {
	padding: .5vh 2.25vh 0 0;

	color: rgb(0, 0, 0);
	float: right;
	margin-right: 1.5vh;
}

#left-align2 {
	padding: .5vh 0 0 2.25vh;
	float: left;
	margin-left: 1.5vh;
	color: rgb(0, 0, 0);
}

#right-align2 {
	padding: .5vh 2.25vh 0 0;

	color: rgb(0, 0, 0);
	float: right;
	margin-right: 1.5vh;
}

.bgCard {
	background-color: rgba(245, 246, 250, 1);
}


.textStyleCard{
	margin: 5vw;
	font-size: 2vw;
	color: black;
}

.textStyleCard2{
	/* margin: 3vw; */
	font-size: 1.5vw;
	color: black;
}

.footer {
	padding: 0.5rem 2rem;
	text-align: center;
	background: rgb(255, 255, 255);
	font-size: 1vw;
	font-weight: 500;
	color: rgb(106, 115, 125);
}

.footer a{
	font-size: 1vw;
	padding: 0rem 0.2rem;
	font-weight: 500;
	color: rgb(0, 112, 243);	
}

a{
	color: white;
	text-decoration: none;

}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}


@media screen and (min-width: 601px) {
	div.textStyleCard {
	  font-size: 80px;
	}
}
  
@media screen and (max-width: 600px) {
	div.textStyleCard {
		font-size: 30px;
	}
}

#world-map {
	margin: auto;
}

#map-title span{
	color: black;
}

#zz {
	z-index: 10;
}
